body {
  margin: 0;
  padding: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto;
}

.header {
  /* background-color: #282c34; */
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: row; */
  top:30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  margin: auto;
  /* color: white; */
  background: rgb(235, 240, 235);
  
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
}
25% {
    transform: rotate(60deg);
}
50% {
    transform: rotate(0deg);
}
75% {
    transform: rotate(-60deg);
}
100% {
    transform: rotate(0deg);
}
}

img {  
  user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}